PORT=4001
DATABASE_URL=./data/dev.sqlite
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BACKEND_URL=http://localhost:4001
ADMIN_URL=http://localhost:4002
JWT_SECRET=troque-por-um-segredo-forte
JWT_EXPIRES_IN=10m
NODE_ENV=development
